{% extends "teams/base.html" %}
{% load render_bundle from webpack_loader %}

{% block style %}
{{ block.super }}
{% render_bundle 'hunts_about' 'css' %}
{% endblock %}

{% block page_header %}
<h1>About {{ event_name }}</h1>
{% endblock %}

{% block content %}
<section id="authors">
<h2>Admins</h2>
<p>{{ event_name }} {{ author_verb }} run by:</p>
<div class="author-list">
{% for author in authors %}
<div class="author">
	<h3><a href="{{ author.get_absolute_url }}">{{ author.username }}</a></h3>
	{% if author.picture %}
		<img src="{{ author.picture }}" alt="{{ author.username }}" />
	{% endif %}
	<p>
	{% if author.seat %}
		Seat {{ author.seat }}
	{% endif %}
	</p>
</div>
{% endfor %}
</div>
</section>
<section id="about">
{{ content | safe }}
</section>
{% endblock %}
